body{
    text-align: center;
    background-image: url('../resources/central.jpg');
    color: whitesmoke;
    font-family: 'Times New Roman';
    font-style: bold;
  }
  
#layer{
    background-color: rgba(56, 30, 85, 0.8); 
}